:root {
    --DarkestGrey: hsl(234, 29%, 20%);
    --DarkGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: myFont;
    background-color: var(--White);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
}

.card {
    background-color: rgb(255, 249, 241);
    width: 90%;
    height: 35rem;
    border: solid var(--White) 3px;
    border-radius: 3rem;
    display: flex;
    box-shadow: 10px 10px 30px rgb(118, 118, 118);
}

.selectZone {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-radius: 3rem 3rem 3rem 3rem;
}

.selectZoneSmall {
    height: 90%;
}

.imgBackgroundZone {
    background-image: url(../assets/bg-sidebar-desktop.svg);
    background-repeat: repeat;
    border-radius: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.QAZone {
    width: 70%;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.DivQ {
    width: 90%;
    min-height: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.DivChieldQ {
    background-color: rgb(151, 138, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin: 0.25rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.numberQ {
    border-radius: 50%;
    width: 3.7rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.752rem;
    font-weight: 800;
    color: var(--White);
    background-color: rgb(63, 38, 226);
}

.questionQ {
    font-size: 1rem;
    font-weight: 800;
    color: var(--White);
    word-wrap: break-word;
    width: 100%;
    max-width: 75%;
}

.QAZoneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hidden {
    display: none !important;
}

h1 {
    margin: 0.5rem 0;
}

h5 {
    margin: 0.1rem;
}

h2 {
    margin: 0.5rem;
}

h3 {
    margin: 0.5rem;
}

input {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    border: dotted 0.5px blue;
}

input:focus {
    border: none;
}

input:active {
    border: none;
}

.divInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.submitButton {
    border: none;
    border-radius: 1rem;
    background-color: rgb(63, 38, 226);
    color: white;
    padding: 0.55rem;
}

@media screen and (max-width: 720px) {
    .selectZone {
        width: 100%;
        height: 15rem;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .QAZone {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .QAZoneContainer {
        width: 30rem;
    }
}